{{#each this}}
<h3 class=result__country-name>{{ name }}</h3>
<div class="result__country-info">
    <div class="result__country-facts">
        <span class="result__capital">Capital: {{ capital }}</span>
        <span class="result__population">Population: {{ population }}</span>
        <ul class="result__languages">Languages:
            {{#each this.languages}}
            <li class="result__languages-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="result__country-flag"
        style="background: url({{flag}}); background-size: contain; background-repeat: no-repeat; width: 300px; height: 200px">
    </div>
</div>
{{/each}}