{{#each this}}
<h3 class=result__country-name>{{ name }}</h3>
<div class="result__country-info">
    <div class="result__country-facts">
        <span class="result__capital"><b>Capital: </b> {{ capital }}</span>
        <span class="result__population"><b>Population: </b> {{ population }}</span>
        <ul class="result__languages"><b>Languages: </b>
            {{#each this.languages}}
            <li class="result__languages-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="result__country-flag" style="background-image: url({{flag}})">
    </div>
</div>
{{/each}}